
.header {
    background: lightblue;
    padding: 10px; /*отступ края рамки от текста*/

    position: absolute;
    top: 2%; /*!*Положение от  края*!*/
    bottom: 86%; /*высота блока*/
    left: 10%;
    right: 10%;

    text-align: center;
    font-family: Calibri;
}

.search {
    overflow: auto;
    background: lightskyblue;
    padding: 10px; /*отступ края рамки от текста*/

    position: absolute;
    top: 14%; /*!*Положение от  края*!*/
    bottom: 6%; /*высота блока*/
    left: 80%;
    right: 10%;

    text-align: left;
    font-family: Calibri;
}

.insteadOfSearch {
    background: lightgoldenrodyellow;
    padding: 10px;

    position: absolute;
    top: 14%;
    bottom: 6%;
    left: 80%;
    right: 10%;
}

.menu { /*вместо aside*/
    background: lightgreen;
    padding: 10px;

    position: absolute;
    top: 14%;
    bottom: 6%;
    left: 10%;
    right: 82%;
    font-family: Calibri;

}

article {
    background: lightgoldenrodyellow;
    padding: 10px;

    position: absolute;
    top: 14%;
    bottom: 6%;
    left: 18%;
    right: 20%;
    font-family: Calibri;
}

.footer {
    background: lightsteelblue;
    padding: 10px;

    position: absolute;
    top: 94%;
    bottom: 1%;
    left:10%;
    right:10%;
    font-size: small;
    text-align: center;
    font-family: Calibri;
}


