#ui-datepicker-div {
    font: 62.5% "Trebuchet MS", sans-serif;
}

*{
    font-family: Calibri;
}

.header {
    background: lightblue;
    padding: 10px;

    position: absolute;
    overflow: auto;

    top: 0;
    left: 0;
    width: 1200px;
    height: 100px;

    text-align: center;
}

.menu {
    background: lightgreen;
    padding: 10px;

    position: absolute;

    top: 120px;
    left: 0;
    height: 600px;
    width: 170px;
}

article {
    background: lightgoldenrodyellow;
    padding: 10px;

    position: absolute;

    top: 120px;
    height: 600px;
    left: 180px;
    width: 830px;
}

.footer {
    background: lightsteelblue;
    padding: 10px;

    position: absolute;

    top: 740px;
    left:0;
    height: 30px;
    width: 1200px;

    font-size: small;
    text-align: center;
}

.search {
    overflow: auto;
    background: lightskyblue;
    padding: 10px;

    position: absolute;

    top: 120px;
    height: 600px;
    left: 1030px;
    width: 170px;

    text-align: left;
}

.insteadOfSearch {
    background: lightgoldenrodyellow;
    padding: 10px;

    position: absolute;

    top: 120px;
    height: 600px;
    left: 1030px;
    width: 170px;
}

